//- @param {object} with properties
//- reference - {string} link for tag a
//- content - {string} button's content
//- addedClasses - {string} classes for button
//- modificator- {string} class-modificator form button
mixin button(props)
  - var { reference="#", content="Button", addedClasses="", modificator="" } = props
  a.button(class=`${addedClasses} ${modificator ? `button_${modificator}` : ""}`, href=reference)
    .button__content=content