mixin button(props)
  -
    const { reference="/plug-link", content="Button", modificators } = props;
    const modificatorBtn = modificators ? ` ${modificators.map((item) =>
      `button_${item}`).join(' ')}` : '';
    const modificatorContent = modificators ? ` ${modificators.map((item) =>
      `button__content_${item}`).join(' ')}` : '';
  a.button(class=modificatorBtn, href=reference)
    .button__content(class=modificatorContent)=content