mixin button(props)
  - let { reference="#", content="Button", addedClasses="", modificators } = props
  - const modificatorStr = modificators ? ` ${modificators.map((item) => `button_${item}`).join(' ')}` : '';
  a.button(class=`${addedClasses + modificatorStr}`, href=reference)
    .button__content=content