mixin button(props)
  - let { reference="#", content="Button", addedClasses="", modificator="" } = props
  a.button(class=`${addedClasses} ${modificator ? `button_${modificator}` : ""}`, href=reference)
    .button__content=content