include ~Blocks/twin-datepick/twin-datepick.pug
include ~Blocks/dropdown-absolute/dropdown-absolute.pug
include ~Blocks/tooltip/tooltip.pug
include ~Blocks/button/button.pug

mixin total-card(props)
  -
    const {
      number,
      isLux,
      cost,
      days = 1,
      daysForm = 'сутки',
      twinDatepick,
      dropdownAbsolute,
      positions = [],
      button,
    } = props;

    let totalSum = cost * days;

  form.total-card.js-total-card
    .total-card__header
      .total-card__room-number
        h3.total-card__prefix №
        h1.total-card__number=number
        if isLux
          h3.total-card__lux люкс
      .total-card__room-price
        h3.total-card__price=`${cost.toLocaleString('ru')}₽`
        .total-card__period в сутки
    .total-card__body
      .total-card__input
        -
          const {
            defaultValue = 'date dropdown',
            field1 = defaultValue,
            field2 = defaultValue,
          } = twinDatepick;

        +twin-datepick(field1, field2)
      h3.total-card__label Гости
      .total-card__input
        +dropdown-absolute(dropdownAbsolute)
      .total-card__calculate
        .total-card__product
          .total-card__position
            span.total-card__cost=`${cost.toLocaleString('ru')}₽`
            span.total-card__split &nbsp;x&nbsp;
            span.total-card__duration=`${days} ${daysForm}`
          .total-card__duration-cost=`${totalSum.toLocaleString('ru')}₽`
        each position in positions
          -
            const { content, tooltip, cost: positionCost = 0, discont = 0 } = position;
            totalSum = totalSum + positionCost - discont;

          .total-card__product
            .total-card__position.total-card__position_service
              span.total-card__cost=content
              +tooltip(tooltip)
            .total-card__period-cost=`${positionCost}₽`
    .total-card__total
      h2.total-card__result Итого
      .total-card__space
      h2.total-card__total-cost=`${totalSum.toLocaleString('ru')}₽`
    .total-card__send
      +button(button)