mixin checkbox(props)
  - const { content="Checkbox", isChecked=false, description } = props
  .checkbox(class=`${description ? "checkbox_extended" : ""}`)
    label.checkbox__label
      input.checkbox__input(type="checkbox", checked=isChecked)
      .checkbox__content(class=`${description ? "checkbox__content_extended" : ""}`)=content
    if description
      .checkbox__description=description