mixin radio-button(props)
  - let { content, name, isChecked=false, addedClasses="" } = props
  label.radio-button(class=`${addedClasses}`)
    input.radio-button__input(type="radio", name=name, checked=isChecked)
    .radio-button__content=content