//- *********** header ***********

mixin link(ref, name, isExtended=false)
    -let classes = isExtended ? "header__item extended" : "header__item"
        a(class=classes,href=""+ref)= name


//- *********** footer ***********

mixin refItem(ref, name)
    li.ref__item
        a(href=ref)=name

mixin socialReference(ref, name)
    div(class="copyrights__" + name)
        a(href=ref)
            img(src="./assets/images/" + name + "Logo.svg", alt=name)