//- *********** header ***********

mixin link(ref, name, isExtended=false)
    a(class="header__item",href=""+ref)=name
        if isExtended
            .arrow-down


//- *********** footer ***********

mixin refItem(ref, name)
    li.ref__item
        a(href=ref)=name

mixin socialReference(ref, name)
    .copyrights__link
        a(href=ref)
            img(src="./assets/images/" + name + "Logo.svg", alt=name, height="30px", width="30px")