include ~Blocks/like-button/like-button.pug

mixin comment(props)
  -
    const { 
      image,
      username = 'Пользователь',
      date = 'сегодня',
      likes = 0,
      isLiked = false,
      content,
    } = props
  .comment
    .comment__header
      img.comment__image(src=image.src, alt=image.alt)
      .comment__user
        h3.comment__username=username
        .comment__date=date
    .comment__body
      .comment__like
        +like-button({
          count: likes,
          isChecked: isLiked,
        })
      p.comment__content=content