mixin helpInfo(description)
  .help-info(data-prompt=description) i

mixin openedDatepick()
  .opened-datepick.js-opened-datepick

mixin likebutton(id, count, isChecked)
  .likebutton
    input(type="checkbox", id=id, checked=isChecked)
    label(for=id)
      .heart
      .counter=count

mixin ratebutton(name, inputRate, isReadonly)
  .ratebutton
    each i in [5,4,3,2,1]
      input(class="ratebutton__input", type="radio", name=name, id=name+"-"+i, checked= i == inputRate)
      label(class="ratebutton__label", for=name+"-"+i)

mixin bulletList(bullets)
  ul.bullet-list
    each bullet in bullets
      li.bullet-list__item=bullet

mixin privilegeElement(ref, title, description)
  .privilege
    .privilege__img
      img(src=ref, height="54px", width="54px")
    .privilege__text
      label=title
      p=description

mixin comment(avatar, username, date, likes, isLiked, description)
  .comment
    .comment__header
      img(src=avatar, height="54px", width="54px")
      .comment__user
        label=username
        .comment__date=date
    .comment__body
      .comment_like
        +likebutton(username+"__likebtn", likes, isLiked)
      .comment__description=description

mixin circleDiagram(value)
  .circle-diagram
    .circle-diagram__wrapper
      .circle-diagram__data
        .circle-diagram__count 260
        .circle-diagram__votes голосов
      svg.circle-diagram__chart(height="160" width="160" viewBox="0 0 35 35")
        linearGradient(id="rate5", x1="0", y1="0.5", x2="1", y2="0.5")
          stop(offset="0%" stop-color="#FFE39C")
          stop(offset="50%" stop-color="#FFBA9C")
        linearGradient(id="rate4", x1="0", y1="1", x2="1", y2="0")
          stop(offset="0%" stop-color="#8BA4F9")
          stop(offset="50%" stop-color="#BC9CFF")
        linearGradient(id="rate3", x1="0", y1="1", x2="1", y2="0")
          stop(offset="0%" stop-color="#66D2EA")
          stop(offset="50%" stop-color="#6FCF97")
        linearGradient(id="under2", x1="0.5", y1="0", x2="0.5", y2="1")
          stop(offset="0%" stop-color="#909090")
          stop(offset="50%" stop-color="#3D4975")
        circle.circle-diagram__unit(r="15.9", cx="50%", cy="50%", stroke="url(#rate5)", stroke-dasharray= ""+(value[0]?value[0]-1:value[0])+" 100")
        circle.circle-diagram__unit(r="15.9", cx="50%", cy="50%", stroke="url(#rate4)", stroke-dasharray=""+(value[1]?value[1]-1:value[1])+" 100", stroke-dashoffset=""+(-1*(value[0])))
        circle.circle-diagram__unit(r="15.9", cx="50%", cy="50%", stroke="url(#rate3)", stroke-dasharray=""+(value[2]?value[2]-1:value[2])+" 100", stroke-dashoffset=""+(-1*(value[0] + value[1])))
        circle.circle-diagram__unit(r="15.9", cx="50%", cy="50%", stroke="url(#under2)", stroke-dasharray=""+(value[3]?value[3]-1:value[3])+" 100", stroke-dashoffset=""+(-1*(value[0] + value[1] + value[2])))
    .description
      .description__item
        .description__perfect
        p Великолепно
      .description__item
        .description__good
        p Хорошо
      .description__item
        .description__normal
        p Удовлетворительно
      .description__item
        .description__bad
        p Разочарован

mixin totalCard()
  .total-card
    .total-card__header
      .number
        label.number__prefix №
        h1.number__value 888
        label.number__lux люкс
      .cost
        label.cost__rubles 9990₽
        p.cost__period в сутки
    .total-card__body
      +twinDatepick("Прибытие", "Выезд")
      label Гости
      +dropdownGuests()
      .calculate
        .calculate__item.base
          .base__position
            span.base__period-cost 9&nbsp;990₽
            span.base__split &nbsp;x&nbsp;
            span.base__peroid-value 4 суток
          p.base__cost 39&nbsp;960₽
        .calculate__item.service
          .service__position
            .service__wrapper
              span.service__prefix Сбор за услуги:&nbsp;
              span.service__servises скидка 2&nbsp;179₽
            +helpInfo("Всплывающая подсказка")
          p.service__cost 0₽
        .calculate__item.additional-service
          .additional-service__position
            span.additional-service__prefix Сбор за дополнительные услуги
            +helpInfo("Всплывающая подсказка")
          p.additional-service__cost 300₽
    .total-card__total
      .total
        h2.total__result Итого
        .total__space
        h2.total__cost 38081₽
    +button("#", "Забронировать", "", "send-button")

//- *********** UI-kit ***********

mixin svgUI()
  svg(width="145" height="145" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg" style="padding:40px;")
    path(d="M23.9989 32.4712C23.2224 32.4712 22.5871 31.8359 22.5871 31.0594C22.5871 25.6241 18.14 21.177 12.7047 21.177C11.9283 21.177 11.293 20.5418 11.293 19.7653C11.293 18.9888 11.9283 18.3535 12.7047 18.3535C19.7283 18.3535 25.4106 24.0359 25.4106 31.0594C25.4106 31.8359 24.7753 32.4712 23.9989 32.4712Z" fill="#1F2041" fill-opacity="0.25")
    path(d="M36.7068 19.7653C36.7068 20.5418 36.0715 21.177 35.295 21.177C31.9421 21.177 28.9421 22.8712 27.1774 25.4476C26.7892 24.4594 26.3303 23.5418 25.7656 22.6947C28.095 20.0123 31.5186 18.3535 35.295 18.3535C36.0715 18.3535 36.7068 18.9888 36.7068 19.7653Z" fill="#1F2041" fill-opacity="0.25")
    path(d="M24 48C10.7647 48 0 37.2353 0 24C0 10.7647 10.7647 0 24 0C37.2353 0 48 10.7647 48 24C48 37.2353 37.2353 48 24 48ZM24 2.82353C12.3176 2.82353 2.82353 12.3176 2.82353 24C2.82353 35.6824 12.3176 45.1765 24 45.1765C35.6824 45.1765 45.1765 35.6824 45.1765 24C45.1765 12.3176 35.6824 2.82353 24 2.82353Z" fill="#1F2041" fill-opacity="0.25")
mixin color-itemUI(color, name, opacity)
  .colors-and-fonts__color-item
    .colors-and-fonts__color-example(style="background-color: " + color + "; opacity: " + opacity + ";")
    .colors-and-fonts__color-description
      h2=name
      p=color

