mixin circle-diagram__circle(proportions)
  - const [rate5, rate4, rate3, below3] = proportions;

  svg.circle-diagram__circle(height="127px" width="127px" viewBox="0 0 35 35")
    linearGradient(id="rate5", x1="0", y1="0.5", x2="1", y2="0.5")
      stop(offset="0%" stop-color="#FFE39C")
      stop(offset="50%" stop-color="#FFBA9C")
    linearGradient(id="rate4", x1="0", y1="1", x2="1", y2="0")
      stop(offset="0%" stop-color="#8BA4F9")
      stop(offset="50%" stop-color="#BC9CFF")
    linearGradient(id="rate3", x1="0", y1="1", x2="1", y2="0")
      stop(offset="0%" stop-color="#66D2EA")
      stop(offset="50%" stop-color="#6FCF97")
    linearGradient(id="below3", x1="0.5", y1="0", x2="0.5", y2="1")
      stop(offset="0%" stop-color="#909090")
      stop(offset="50%" stop-color="#3D4975")
    circle.circle-diagram__unit(
      r="15.9", cx="50%", cy="53%", stroke="url(#rate5)",
      stroke-dasharray= ""+(rate5?rate5-1:rate5)+" 100"
    )
    circle.circle-diagram__unit(
      r="15.9", cx="50%", cy="53%", stroke="url(#rate4)",
      stroke-dasharray=""+(rate4?rate4-1:rate4)+" 100",
      stroke-dashoffset=""+(-1*(rate5))
    )
    circle.circle-diagram__unit(
      r="15.9", cx="50%", cy="53%", stroke="url(#rate3)",
      stroke-dasharray=""+(rate3?rate3-1:rate3)+" 100",
      stroke-dashoffset=""+(-1*(rate5 + rate4))
    )
    circle.circle-diagram__unit(
      r="15.9", cx="50%", cy="53%", stroke="url(#below3)",
      stroke-dasharray=""+(below3?below3-1:below3)+" 100",
      stroke-dashoffset=""+(-1*(rate5 + rate4 + rate3))
    )